{% extends "account/base_manage.html" %}
{% load allauth i18n %}
{% block head_title %}
    {% trans "Logout" %}
{% endblock head_title %}
{% block content %}
<div class="sure" style="margin: auto;padding-left: 10%; width: 100vh; overflow-x: hidden; font-size: 40px;">
    {% element p %}
        {% trans 'Are you sure you want to sign out?' %}
    {% endelement %}
</div>
    {% url 'account_logout' as action_url %}
    <div class="form_sign_out" style="margin: auto; padding: auto; width: 100vh; overflow-x: hidden;">
    {% element form method="post" action=action_url no_visible_fields=True %}
        {% slot body %}
            {% csrf_token %}
            {{ redirect_field }}
        {% endslot %}
        {% slot actions %}
        <div class="button_sign_out"  style="margin: auto; margin-top: 40px !important; padding-left: 40%; width: 100vh; overflow-x: hidden;">
            <button type="submit" class="bn9"><span>{% trans 'Sign Out' %}</span></button>
        </div>
        {% endslot %}
    {% endelement %}
</div>
{% endblock content %}
