{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  <div>
    <h2>Sign Out</h2>
    <form method="POST" class="form-group my-3 col-6">
      {% csrf_token %}

      {% if messages %}
        {% for message in messages %}
          <div class="alert
        {% if message.tags == 'error' %}

            {% elif message.tags == 'success' %}

            {% endif %} alert-dismissible fade show"
            role="alert">
            {{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
          </div>
        {% endfor %}
      {% endif %}

      <button type="submit" class="btn btn-primary">Logout</button>
    </form>
  </div>
{% endblock %}
