{% extends 'base.html' %}
{% load static %}

{% block head_title %}
  {{ title }}
{% endblock %}

{% block css %}
  {{ block.super }}
  <link rel="stylesheet" href="{% static 'css/profile.css' %}" />
{% endblock %}

{% block content %}
  {% if user.is_authenticated %}

    <div class="content" style="margin-top: 70px !important;">
        <div class="container">
            <div class="main-body">
            
                  <!-- Breadcrumb -->
                  <nav aria-label="breadcrumb" class="main-breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item" style="margin: auto !important;"><a href="/shop">Home Page</a></li>
                    </ol>
                  </nav>
                  <!-- /Breadcrumb -->
            
                  <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                      <div class="card" style="height: 360px !important;">
                        <div class="card-body">
                          <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{ user.socialaccount_set.all.0.get_avatar_url }}" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                              <h4>{{ user.socialaccount_set.all.0.extra_data.name }}</h4>
                              <p class="text-secondary mb-1">Last Login:</p>
                              <p class="text-muted font-size-sm">{{ user.socialaccount_set.all.0.last_login}}</p>
                            </div>
                          </div>
                        </div>
                      </div>
                    
                    </div>
                    <div class="col-md-8">
                      <div class="card mb-3">
                        <div class="card-body" >
                        <div class="card-body"  style="height: 320px !important;">
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Full Name</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.socialaccount_set.all.0.extra_data.name }}
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Email</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                                {{ user.email }}
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Phone</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              -
                            </div>
                          </div>
                          
                          <hr>
                          <div class="row">
                            <div class="col-sm-3">
                              <h6 class="mb-0">Address</h6>
                            </div>
                            <div class="col-sm-9 text-secondary">
                              -
                            </div>
                          </div>
                          <hr>
                          <div class="row">
                            <div class="col-sm-12" style="margin-top: 20px !important;">
                              <a class="btn btn-info"href="/shop/user-profile/change">Edit</a>
                            </div>
                          </div>
                        </div>
                      </div>
        
                      
        
        
        
                    </div>
                  </div>
        
                </div>
            </div>
    </div>

  {% endif %}
{% endblock %}

{% block js %}
  {{ block.super }}
  <script src="{% static 'js/profile.js' %}"></script>
{% endblock %}

